.title {
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 1.5;
  color: #333333;
  position: relative;
  animation: underline-slide 3s infinite linear;
  margin-bottom: 40px;
  margin-top: -60px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
    margin-bottom: 60px;
    margin-top: -50px;
  }
}


.text-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}




@keyframes underline-slide {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.title::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 41%;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  height: 2px;
  background-color: black;
  background-image: linear-gradient(to right, rgb(194, 187, 187), rgb(227, 227, 227), rgb(199, 199, 199), rgb(165, 165, 165), rgb(136, 136, 136), rgb(110, 110, 110), rgb(85, 85, 85), rgb(62, 62, 62), rgb(41, 41, 41), rgb(23, 23, 23), black);
  background-size: 200% 100%;
  animation: underline-gradient 3s infinite linear;
}


@keyframes underline-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.centerleft {
  margin-left: 250px;
}
.centerrigth {
  margin-left: 100px;
}
.image1{
  margin-left: 450px;
}
.image2{
  margin-left: 300px;
}


/* ----------------------------------------------------------------------------------------------------- */


@media screen and (max-width: 1200px) {
  .title {
    font-size: 24px;
    margin-bottom: 70px;
    margin-top: -70px;
  }
  .centerleft{
    margin-left: 100px;
  }
  .centerrigth {
    margin-left: 40px;
  }
  .title::after {
    width: 15%;
    left: 42.5%;

  }
  .image1{
    margin-left: 260px;
  }
  .image2{
    margin-left: 240px;
  }
}


@media (max-width:992px) {
  .title {
    font-size: 22px;
    margin-bottom: 60px;
    margin-top: -70px;
  }
  .title::after {
    width: 20%;
    left: 40%;
  }
  .centerleft {
    margin-left: 30px;
  }
  .centerrigth {
    margin-left: 0;
  }
  
  
  .image1{
    margin-left: 180px;
  }
  .image2{
    margin-left: 180px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 17px;
    margin-bottom: 30px;
    margin-top: -70px;
  }
  .title::after {
    width: 20%;
    left: 40%;
  }
  .centerleft {
    display: flex;
    justify-content: center;
    
    font-size: 14px;
  }
  .centerrigth {
    display: flex;
    margin-left: 0;
    font-size: 14px;
    justify-content: center;
   
  }
  .center{
    font-size: 14px;
  }
  
  
  .image1{
    display: flex;
    justify-content: center;
    margin-right: 170px;
  }
  .image2{
    display: flex;
    justify-content: center;
    margin-right: 170px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 17px;
    margin-bottom: 30px;
    margin-top: -70px;
  }
  .title::after {
    width: 20%;
    left: 40%;
  }
  .centerleft {
    display: flex;
    justify-content: center;
    
    font-size: 15px;
  }
  .centerrigth {
    display: flex;
    margin-left: 0;
    font-size: 15px;
    justify-content: center;
   
  }
  .center{
    font-size: 15px;
  }
  
  
  .image1{
    display: flex;
    justify-content: center;
    margin-right: 170px;
  }
  .image2{
    display: flex;
    justify-content: center;
    margin-right: 170px;
  }

}
@media (max-width: 490px) {
  .title {
    font-size: 17px;
    margin-bottom: 30px;
    margin-top: -70px;
  }
  .title::after {
    width: 30%;
    left: 40%;
  }
  .centerleft {
    display: flex;
    justify-content: center;
    
    font-size: 12px;
  }
  .centerrigth {
    display: flex;
    margin-left: 10px;
    font-size: 12px;
    justify-content: center;
   
  }
  .center{
    font-size: 12px;
    margin-left: 10px;
  }
  
  
  .image1{
    display: flex;
    justify-content: center;
    margin-right: 170px;
  }
  .image2{
    display: flex;
    justify-content: center;
    margin-right: 170px;
  }

}







